.HeroSection {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 70vh;
  width: 90%;
  margin-bottom: 50px;

  .contentSection {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 100%;

    .title {
      margin-bottom: 35px;
      text-transform: uppercase;
      font-size: 2.5em;
      font-weight: normal;
    }

    .callToActionButtons {
      margin-top: 50px;

      display: flex;
      justify-content: space-around;
      width: 80%;
    }
  }

  .imageSection {
    width: 50%;
    .heroImage {
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
