.HeroSection {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 70vh;
  width: 90%;
  margin-bottom: 50px;
  position: relative;
  .leftArrow {
    top: 29%;
    left: -150px;
    position: absolute;
    width: 90px;
    cursor: pointer;
    img {
      width: 100%;
    }
  }
  .rightArrow {
    top: 29%;
    right: -150px;
    position: absolute;
    width: 90px;
    cursor: pointer;
    img {
      width: 100%;
    }
  }
}

@media (max-width: 900px) {
  .HeroSection {
    flex-direction: column;
    .leftArrow,
    .rightArrow {
      width: 60px;
    }
  }
}
