.CustomButton {
  width: 170px;
  border: none;
  height: 60px;
  text-align: center;
  cursor: pointer;
  background: black;
  color: white;
  border: 2px solid white;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background: white;
    color: black;
    border: 2px solid black;
  }
}
.googleSignIn {
  background: #4285f4;
  color: white;

  &:hover {
    background: rgb(255, 255, 255);
    color: #4285f4;
    border: 2px solid #4285f4;
  }
}

.inverted {
  background: white;
  color: black;
  border: 2px solid black;
  &:hover {
    background: black;
    color: white;
  }
}

.delete {
  background: rgb(223, 134, 134);
  color: black;
  &:hover {
    background: rgb(247, 244, 244);
    color: rgb(214, 45, 45);
    border: 2px solid rgb(223, 134, 134);
  }
}

.callToAction {
  padding: 0 20px;
  width: 300px;
  height: 90px;
  font-size: 1.3em;
}
