.CustomButton {
  width: 170px;
  border: none;
  height: 60px;
  text-align: center;
  cursor: pointer;
  background: black;
  color: white;
  border: 2px solid white;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background: white;
    color: black;
    border: 2px solid black;
  }
}
.googleSignIn {
  background: rgb(90, 90, 241);
  color: white;

  &:hover {
    background: rgb(90, 90, 241);
    color: black;
  }
}

.inverted {
  background: white;
  color: black;
  border: 2px solid black;
  &:hover {
    background: black;
    color: white;
  }
}

.delete {
  background: rgb(238, 69, 69);
  color: black;
}
