.cartIcon {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  .shoppingIconBox {
    position: relative;
    .shoppingIcon {
      width: 28px;
      height: 28px;
    }

    .itemCount {
      top: 10px;
      left: 10px;
      position: absolute;
      font-size: 13px;
      font-weight: bold;
    }
  }
}
